.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor: pointer;
}

h3 {
    text-align: center;
}
.buttonColor {
    background-color: orange;
}
.nearMaxMass {
    font-style: italic;
    color: red;
}
